body{
 font-size: 16px;
 line-height: 1.5 ;
 font-family: "Roboto", "Arial", sans-serif;
 letter-spacing: 0.5px;
}

.site-header{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-actions{
 display: flex;
 align-items: center;
}

.sitenav-list{
  list-style: none;
  display: flex;

}

.sitenav-link{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-family: "Roboto condensed", "Roboto", "Arial", sans-serif;
}

.main-link{
  font-size: 13px;
  line-height: 15px;
  background-color: #FF7500;;
  color: #fff;
  text-decoration: none;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(37, 36, 32, 1);
  color:
  rgba(255, 255, 255, 1);
}
.hero-content{
  width: 387px;
}

.orange-line{
  width: 80px;
  height: 3px;
  background: #FF7500;
}

.features ul{
  list-style: none;
}

.hero-heading{
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #fff;
}

.hero-text{
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #FFFFFF;;
}

.hero-img{
  width: 510px;
  height: 510px;
  object-fit: cover;
}

.features-heading{
  width: 435px;
  font-size: 72px;
  line-height: 120%;
  color: #000000;
  font-family: "Roboto condensed", "Roboto", "Arial", sans-serif;
}

.feature{
  width: 340px;
}

.feature-heading{
  font-size: 24px;
  line-height: 120%;
  color: #000000;
  font-family: "Roboto condensed", "Roboto", "Arial", sans-serif;
}

.feature-info{
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.features-list{
  display: flex;
  justify-content: space-between;
}

.site-footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sale-bg{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #252420;
  color: #FFFFFF;
}

.sale-content{
  width: 440px;
}

.sale-heading{
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  font-family: "Roboto condensed", "Roboto", "Arial", sans-serif;
}

.sale-info{
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.highlight{
  color: #FF7500;;
}

.sale-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.site-footer{
  background: #F8F8F8;
}

.site-footer ul{
  list-style: none;
}

.site-footer-socails{
  display: flex;
  align-items: center;
 }

.site-footer-divider{
 height: 2px;
 background: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom{
  display: flex;
  justify-content: space-between;
}

.site-footer-links{
  height: 224;
  line-height: 19px;
}

.site-footer-links a{
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #252420;
}